.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    background-color: black;
    color: gold;
}
.recipes{
    text-align: center;
    font-size: 14px;
    color: black;
}